.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: table-row
}

.thead {
    display: table-header-group
}

.tbody {
    display: table-row-group
}

.tfoot {
    display: table-footer-group
}

.col {
    display: table-column
}

.colgroup {
    display: table-column-group
}

.cell {
    display: table-cell
}

.cell-text {
    width: 210px;
    text-align: center;
    cursor: pointer;
}

.caption {
    display: table-caption
}

.cell-line {
   width: 1px;
}

.App-header{
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: grey;
    color: white;
    font-size: 22px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
}

.menu-table{
    width: 90%;
}

.menu-cell{
}

.app-content{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}