.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: table-row
}

.thead {
    display: table-header-group
}

.tbody {
    display: table-row-group
}

.tfoot {
    display: table-footer-group
}

.col {
    display: table-column
}

.colgroup {
    display: table-column-group
}

.cell {
    display: table-cell
}

.cell-text {
    width: 210px;
    text-align: center;
    cursor: pointer;
}

.caption {
    display: table-caption
}